.login-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.login-content {
    background: #fff;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #dedede;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-box-shadow: -4px -2px 32px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px -2px 32px -7px rgba(0, 0, 0, 0.75);
    box-shadow: -4px -2px 32px -7px rgba(0, 0, 0, 0.75);
}

.login-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.login-wrapper input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 15px 0px 10px;

}

.login-wrapper button {
    width: 100%;
    max-width: 300px;
    background: #1da1f2;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .login-content {

        max-width: 350px;

    }

}